     .wrapper
{
    background-color: rgba(240, 255, 32, 0.849);
    padding: 10px;
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}
.teksts
{
    line-height: 3;
    font-size: 20px;

}
h1{
    text-align: center;
    background: rgb(9, 236, 66);
    padding: 5px;
}
h2{
    text-align: center;
    background: rgb(9, 236, 66);
    padding: 5px;
}
ul{
    text-align: left;
    padding: 0px;
}
li{
    display: inline-block;
    text-align: center;
    background: rgb(9, 236, 66);
    width:240px;
    height: 30px;
    border:1px solid rgb(62, 233, 224);
    margin: 24px;
    font-size: 24px;
    font-style: bold;
    
}
.game
{
    width:350px;
    background-color: yellow;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.block
{
    display: inline-block;
    text-align: center;
    background: darkorange;
    width:100px;
    height: 100px;
    border:1px solid rgb(62, 233, 224);
    margin: 5px;
    font-size: 45px;
    font:bold;
}
.virsraksts
{
    font-size: 30px; 
}
.content
{
    line-height: 2;
    font-size: 20px; 
}
.virsraksts2
{
    font-size: 20px; 
}
.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 16px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.table tbody td {
	text-align: center;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 16px;
	vertical-align: top;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}