<!DOCTYPE html>
<html lang="en">
<head>
    <link href="style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel='stylesheet' href='/static/stils.css'>
</head>
<body>
    <div class="wrapper">
      <div class='rezultaati' id="rezultaati">
    <h2>Rezultāti</h2>
        <button onclick="pievienotTop()"> Pievienoties topam </button>
<div id="data"></div>
        <table class="table">
          <tr>
            <td>Vieta</td>
            <td>Spēlētājs</td>
            <td>Vecums</td>
            <td>Reģions</td>
            <td>Rezultāts</td>
            
          </tr>
        </table>
    <div id="data"></div>
    </br>
</div>
    </div>   
</body>
    <script type="text/javascript" src="static/speele.js"></script>
  <script type="text/javascript" src="static/demo.js"></script>
</html>